html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.bold{
    font-weight: bold;
}
.movieCardLink{
    text-decoration: none;
    color: inherit;
}
#movieList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-display: flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
    width: 100%;
}
.movieCard{
    display: inline-block;
    width: 100%;
    max-width: 50rem;
    min-width: 30rem;
    margin-bottom: 2rem;
}
.movieCard:hover{
    background-color: #eee;
}
.backdrop{
    width: 100%;
}
.videoContainer{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-bottom: 2rem;
}
.video{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.genre{
    display: inline-block;
    border-left: 1px solid #333;
    padding: 0rem 1rem;
}
.firstGenre{
    border-left: none;
}